.header { 
    position: 'fixed';
      top: 0;
      left: 0;
      right: 0;
      height: '60px';
      background-color: '#fff';
      border-bottom: '1px solid #ccc';
      z-Index: 1000;
      display: flex;
      align-items: center;
      padding: 0.1rem;
    }